@import "compass";

@mixin full-area {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
html {
	@include full-area;
	font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 14px;
	body {
		@include full-area;
		background-color: white;
	}
}
#wrapper {
	@include full-area;
}
#slider {
	@include full-area;
	position: fixed;
	top: 0px;
	left: 100%;
	background-color: lightgray;
	@include transition(left 0.5s linear);
	&.show {
		left: 0px;
		@include transition(left 0.5s linear);
	}
}
/* header */
#header {
	@include full-area;
	@include background(linear-gradient(top, #dfdfdf, #8f8f8f));
	position: relative;
	border-bottom: solid 1px #000;
	height: 22px;
	/*text-align: center;*/
	.apple {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 100%;
		margin: 0px 0px 0px 10px;
		content: '';
		&:before {
			position: absolute;
			width: 16px;
			height: 100%;
			content: ' ';
			top: 0px;
			left: 12px;
			background-image: url(../images/apple.png);
			padding-top: 1px;
			padding-bottom: 1px;
			@include background-size(16px 20px);
			background-repeat: no-repeat;
		}
		&:hover {
			@include background(linear-gradient(top, #5f85f8, #2763f7));
			&:before {
				@include filter(invert(100%));
			}
		}
	}
	.header-btn {
		position: relative;
		display: inline-block;
		height: 100%;
		top: -5px;
		padding: 1px 12px;
		line-height: 24px;
		&.bold {
			font-weight: bold;
		}
		&:hover {
			@include background(linear-gradient(top, #5f85f8, #2763f7));
			color: white;
		}
	}
}
/* body */
#body {
	width: 100%;
	padding: 10px 0px;
}
.btn {
	display: block;
	border: solid 1px gray;
	border-radius: 6px;
	padding: 6px 10px;
	text-align: center;
	line-height: 14px;
	background-color: lightgray;
	width: 100px;
	&:hover{
		@include transition(background-color 0.8s ease);
		background-color: gray;
	}
}
input[type="radio"] {
	@include appearance(none);
	position: relative;
	margin-right: 5px;
	border-radius: 30px;
	border: 2px solid #736b68;
	-webkit-box-sizing: border-box;
	width: 30px;
	height: 30px;
	@include background(linear-gradient(left top, #fdfdfd, #d1d1d1));
	vertical-align: middle;
	&:disabled {
		border: 2px solid #EEE;
	}
	&:checked {
		@include background(linear-gradient(left top, #fff, #ccc));
		&:before {
			position: absolute;
			left: 50%;
			top: 50%;
			display: block;
			margin: -9px 0 0 -9px;
			@include box-shadow(0 1px 1px rgba(0, 0, 0, 0.5));
			content: "";
			border-radius: 50px;
			width: 18px;
			height: 18px;
			@include background(linear-gradient(left top, #f55, #fee));
		}
	}
}

