@charset "UTF-8";
/* line 9, ../../sass/common.scss */
html { width: 100%; height: 100%; margin: 0px; padding: 0px; font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif; font-size: 14px; }
/* line 13, ../../sass/common.scss */
html body { width: 100%; height: 100%; margin: 0px; padding: 0px; background-color: white; }

/* line 18, ../../sass/common.scss */
#wrapper { width: 100%; height: 100%; margin: 0px; padding: 0px; }

/* line 21, ../../sass/common.scss */
#slider { width: 100%; height: 100%; margin: 0px; padding: 0px; position: fixed; top: 0px; left: 100%; background-color: lightgray; -webkit-transition: left 0.5s linear; -moz-transition: left 0.5s linear; -o-transition: left 0.5s linear; transition: left 0.5s linear; }
/* line 28, ../../sass/common.scss */
#slider.show { left: 0px; -webkit-transition: left 0.5s linear; -moz-transition: left 0.5s linear; -o-transition: left 0.5s linear; transition: left 0.5s linear; }

/* line 33, ../../sass/common.scss */
#header { width: 100%; height: 100%; margin: 0px; padding: 0px; height: 30px; background-color: silver; text-align: center; }

/* line 39, ../../sass/common.scss */
#body { width: 100%; padding: 10px 0px; }

/* line 43, ../../sass/common.scss */
.btn { display: block; border: solid 1px gray; border-radius: 6px; padding: 6px 10px; text-align: center; line-height: 14px; background-color: lightgray; width: 100px; }
/* line 52, ../../sass/common.scss */
.btn:hover { -webkit-transition: background-color 0.8s ease; -moz-transition: background-color 0.8s ease; -o-transition: background-color 0.8s ease; transition: background-color 0.8s ease; background-color: gray; }

/* line 57, ../../sass/common.scss */
input[type="radio"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; position: relative; margin-right: 5px; border-radius: 30px; border: 2px solid #736b68; -webkit-box-sizing: border-box; width: 30px; height: 30px; background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #d1d1d1)); background: -webkit-linear-gradient(left top, #fdfdfd, #d1d1d1); background: -moz-linear-gradient(left top, #fdfdfd, #d1d1d1); background: -o-linear-gradient(left top, #fdfdfd, #d1d1d1); background: linear-gradient(left top, #fdfdfd, #d1d1d1); vertical-align: middle; }
/* line 68, ../../sass/common.scss */
input[type="radio"]:disabled { border: 2px solid #EEE; }
/* line 71, ../../sass/common.scss */
input[type="radio"]:checked { background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ffffff), color-stop(100%, #cccccc)); background: -webkit-linear-gradient(left top, #ffffff, #cccccc); background: -moz-linear-gradient(left top, #ffffff, #cccccc); background: -o-linear-gradient(left top, #ffffff, #cccccc); background: linear-gradient(left top, #ffffff, #cccccc); }
/* line 73, ../../sass/common.scss */
input[type="radio"]:checked:before { position: absolute; left: 50%; top: 50%; display: block; margin: -9px 0 0 -9px; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); content: ""; border-radius: 50px; width: 18px; height: 18px; background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ff5555), color-stop(100%, #ffeeee)); background: -webkit-linear-gradient(left top, #ff5555, #ffeeee); background: -moz-linear-gradient(left top, #ff5555, #ffeeee); background: -o-linear-gradient(left top, #ff5555, #ffeeee); background: linear-gradient(left top, #ff5555, #ffeeee); }
